/*CUERPO PAGINA*/
body {
    margin: 0;
    margin-top: 10%;
    background-color: #ffffff;
}

/*PIE DE PAGINA*/
footer {
    margin-top: 5%;
    background-color: #d6e8df;
    display: flex;

}

/*BARRA NAVEGACION*/
.barraNavegacion {
    position: fixed;
    /*La barra siempre esta visible*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d6e8df;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /*Permite que el menú baje en móvil*/
    z-index: 1000;
    /*Permite asegurarte de que quede por encima de otros elementos */
}

.barraNavegacion img {
    height: 100px;
    width: auto;
    padding-right: auto;
}

.Menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;

}

.Menu li {
    margin-left: 30px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Menu li,
a {
    text-decoration: none;
    color: #013f42;
}

/*OCULTAR BOTON EN LA PANTALLA GRANDE*/
.menu-desplegable {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    /*Puntero de forma de mano*/

}

/*ENCABEZADO "BIENVENIDOS"*/
.bienvenida {
    justify-items: center;
    text-align: center;
    font-size: 20px;

}

/*ENCABEZADO "CONTENEDOR"*/
.ofrecemos {
    justify-items: center;
    text-align: center;
    font-size: 20px;
}

/*Carrusel de imagenes*/
.carrusel {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;

}

.carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carrusel img.active {
    opacity: 1;
}


/*TODOS LOS ENCABEZADOS H1*/
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #057075;
}

/*TODOS LOS ENCABEZADO H3*/
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #057075;
}

.tabla-ofrecemos th {
    color: #057075;
    font-size: 25px;

}

.tabla-ofrecemos tr {

    text-align: center;
}

/*SOBRE NOSOTROS*/

.nosotros .cabecera {
    text-align: center;
    font-size: 30px;
}

.nosotros .cuerpo {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    gap: 5%;
}

.nosotros .texto {
    font-size: large;
    text-align: center;
}

/*Que hacer*/

.intro{
    margin-left: 1%;
    font-size: larger
} 

.fila {
    display: flex;
    margin-top: 2%;
    margin-right: 17%;
    margin-left : 7%;
    gap: 5%;
}

.fila h3, p{
    font-size: larger;
}

.fila div{
    text-align: center;
}

.fila img{
    width: 500px;
    height: 300px;
}

.fila a{
    background-color: #d6e8df;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
}

.fila-2{
    display: flex;
    margin-top: 2%;
    margin-right: 17%;
    margin-left : 7%;
    gap: 5%;  
}

.fila-2 h3, p{
    font-size: larger;
}

.fila-2 div{
    text-align: center;
}

.fila-2 img{
    width: 500px;
    height: 300px;
}

.fila-2 a{
    background-color: #d6e8df;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
}
/*senderismo*/
.rutas img{
    height: 400px;
    width: 450px;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 15%;
    background-color: #fbf1e9;
    box-shadow: 0 12px 50px #d6e8df; 
}
.tracamulas, 
.chimeneas, 
.pajarillo,
.playa{
    display: flex;
    gap: 10%;   
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.rutas h3{
    text-align: center;
    font-size: 30px;
}

/*Kayak*/
.acuatica{
    display: flex;
    gap: 10%;   
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.actividad-acuatica h3{
    
    text-align: center;
    font-size: 30px;
}

.acuatica img{
    height: 400px;
    width: 450px;
    margin-top: 15%;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 15%;
    background-color: #fbf1e9;
    box-shadow: 0 12px 50px #d6e8df; 
}

/* UBICACION MAPS */
.ubicacion {
    display: flex;
    justify-content: center;
    margin: 10%;
    margin-bottom: 2%;
}

.informacion {
    font-size: 20px;
    background-color: #fcfbfb; 
    border-radius: 12px;
    margin-right: 5%;
    box-shadow: 0 12px 50px #d6e8df; 
}

.informacion h3 {
    margin-left: 15%;
}

.informacion .ubicaciones div {
    display: block;
    padding: 3%;
}
.formulario {
    background-color: #fcfbfb;
    border-radius: 12px;
    max-width: 400px;
    margin: 40px auto; 
    margin-top:100px;
    padding: 20px 25px;
    box-shadow: 0 12px 50px #d6e8df;
    /*Hacemos el bloque oculto al inicio y añadimos una transaccion suave*/
    visibility: hidden; /*Evistamos usar display porque es más robusto (no animable)*/
    opacity: 0; /* opacity + transform permite animaciones suaves*/
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.formulario.visible{
    /*Aquí hacemos visible el bloque tras el uso de JS*/
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.formulario h3 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.formulario label {
    font-weight: 500;
    color: #333;
}

.formulario input,
.formulario textarea,
.formulario select {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
}

.formulario textarea {
    height: 120px;
    resize: none;
}

.formulario button {
    background-color: #d6e8df;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

/* Estilo para mensaje emergente confirmación */
.toast {
    position: fixed;
    top: 80px;
    right: 50px;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 1s ease-out;
    z-index: 1000;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.toast.hide {
    opacity: 0;
}

/*Reserva*/
.bloque-busqueda {
    margin-bottom: 12%;
}

.calendario {
    justify-items: center;
    text-align: center;
    margin-bottom: 5%;
}

.form-calendario img {
    border-radius: 20px;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
}

.form-calendario {
    background-color: #fcfbfb;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 12px 50px #d6e8df;
    text-align: center;
}

.form-calendario form {
    text-align: center;
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.form-calendario input,
.form-calendario select,
.form-calendario button {
    padding: 5px;
    font-size: 16px;
    border-radius: 6px;
}

.resultados {
    justify-items: center;
    text-align: center;
}

.vivienda {
    display: flex;
    border-radius: 5px;
    box-shadow: 0 12px 50px #d6e8df;
    padding: 20px 30px;
    gap: 20px;
    align-items: center;
    opacity: 0;
    transform: translateX(-50px);
    animation: entradaIzquierda 0.6s ease forwards;
    animation-delay: var(--delay, 0s);
}

@keyframes entradaIzquierda {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.vivienda button {
    border: none;
    border-radius: 5px;
    background-color: #d6e8df;
    font-size: large;
}

.img-vivienda {
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

.precio-noche {
    font-size: small;
}

.bloque-reserva {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 200px;
    font-size: larger;
    opacity: 0;
    transform: translateX(-50px);
    animation: entradaIzquierda 0.6s ease forwards;
    animation-delay: var(--delay, 0s);
}

.datos-reserva {
    font-size: larger;
    border-radius: 10px;
    box-shadow: 0 12px 50px #d6e8df;
    padding: 30px 50px
}

.datos-reserva img {
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

.datos-reserva button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #d6e8df;
    padding: 10px 5px;

}

.form-reserva {
    border-radius: 10px;
    box-shadow: 0 12px 50px #d6e8df;
    padding: 3% 50px
}

.form-reserva input,
.form-reserva label,
.form-reserva button {
    display: block;
    width: 100%;
}

.form-reserva button {
    border: none;
    border-radius: 5px;
    background-color: #d6e8df;
    padding: 10px 5px;
}

.pago {
    display: none;
}

/*Ventana confirmacion / cancelacion*/

.ventana-confi_cancel {
    background-color: #d6e8df;
    font-size: larger;
    text-align: center;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 9%;
    padding: 5%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #2e4a39;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Pie de pagina*/

.contacto {
    color: #057075;
    font-size: 20px;
    /*  border-radius: 30%;
    background-color: white;
    padding: 25px;
    border: 2px solid #573c23; */
}

.contacto a {
    color: inherit;
    text-decoration: none;
}


/*ESTILO TIPO MOVIL*/
@media (max-width:760px) {
    .barraNavegacion {
        flex-direction: row;
        /*colocar los elementos en fila*/
        align-items: flex-start;
        align-items: center;
    }

    .Menu {
        flex-direction: column;
        background-color: #d6e8df;
        display: none;
        /*Oculto por defecto*/
        width: 100%;
        padding: 0;

    }

    .Menu.show {
        display: flex;
        /*Se muestra al activar*/
    }

    .menu-desplegable {
        display: block;
        /*Pasa el contenido a forma de bloque*/
    }

    .Menu li {
        border-bottom: 1px solid#057075;
        width: 100%;
        /*Que el borde ocupe todo el ancho*/
        margin: 0;
        /*Elimina cualquier margen*/
        text-align: center;
        padding: 0;
    }

    .carrusel {
        height: 300px;
    }

    /*AJUSTAR LA TABLA A MEDIA*/

    .tabla-ofrecemos thead,
    tbody,
    th,
    td,
    tr {
        display: block;

    }

    .tabla-ofrecemos thead {
        display: none;
    }

    .tabla-ofrecemos td::before {
        content: attr(data-label);
        /*Añadimos el data-label en los td de cada columna*/
        display: block;
        font-weight: bolder;
        color: #057075;
        font-size: 20px;
    }


}