<!-- Plantilla base -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cuevas Halima{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!--Barra navegacion-->
    <nav class="barraNavegacion">
        <a href="Index.html"><img src="IMG/Logos/logoBoceto5.jpeg" alt="logo" id="fotoPerfil"></a>
        <!--Boton desplegable--&#9776 menú hamburgesa-->
        <button class="menu-desplegable" type="button" id="menuDesplegable">&#9776;</button>
        <!--menu navegador-->
        <ul class="Menu" id="menu">
            <li><a href="../Ventanas/sobreNosotros.html">Sobre nosotros</a></li>
            <li><a href="../Ventanas/cueva.html">Nuestra cueva</a></li>
            <li><a href="./Ventanas/queHacer.html">Qué hacer</a></li>
            <li><a href="/Ventanas/encuentranos.html">Encuentranos</a></li>
        </ul>
    </nav>
    <!--Contenido-->
    <main>
        {% block content %}{% endblock %}
    </main>
    <!--Pie de pagina-->
    <footer>
        <div class="contacto">
            <h3>Contacto</h3>
            <img src="IMG/Iconos/telefono.png" alt="telefono"> 665 94 66 80 <br>
            <a href="https://www.instagram.com/cuevas.bustamante/profilecard/" target="_blank">
                <img src="IMG/Iconos/logoInstagram.png" alt="instagram"> ¡Síguenos!</a> <br>
            <img src="IMG/Iconos/correo-electronico.png" alt="correo"> cuevashalima@hotmail.com <br>
        </div>
        <!--Script para barra navegación-->
        <!--
    La siguiente ruta "url_For" función que utiliza Flask para generar una URL automática
    Evitamos errores de rutas relativas 
    -->
        <script src="{{ url_for('static', filename='js/script.js/')}}"></script>
    </footer>
</body>

</html>