<!-- Plantilla base -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cuevas Halima{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!--Barra navegacion-->
    <nav class="barraNavegacion">
        <a href="{{ url_for('main.inicio')}}"><img src="{{ url_for('static', filename='img/logos/logoBoceto5.jpeg')}}" alt="logo" id="fotoPerfil"></a>
        <!--Boton desplegable--&#9776 menú hamburgesa-->
        <button class="menu-desplegable" type="button" id="menuDesplegable">&#9776;</button>
        <!--menu navegador-->
        <!--
        Usamos la funcion "url_for" para rutas definidas en Flask "route.py" 
        A diferencia de "url_for('static, filenmae=') que se usa para definir las rutas
        de los archivos estáticos "/static".
        -->
        <ul class="Menu" id="menu">
            <li><a href="{{ url_for('main.sobreNosotros')}}">Sobre nosotros</a></li>
            <li><a href="{{ url_for('main.cueva')}}">Nuestra cueva</a></li>
            <li><a href="{{ url_for('main.queHacer')}}">Qué hacer</a></li>
            <li><a href="{{ url_for('main.encuentranos')}}">Encuentranos</a></li>
        </ul>
    </nav>
    <!--Contenido-->
    <main>
        {% block content %}{% endblock %}
    </main>
    <!--Pie de pagina-->
    <footer>
        <div class="contacto">
            <h3>Contacto</h3>
            <img src="{{ url_for('static', filename='img/iconos/telefono.png')}}" alt="telefono"> 665 94 66 80 <br>
            <a href="https://www.instagram.com/cuevas.halima/" target="_blank">
                <img src="{{ url_for('static', filename='img/iconos/logoInstagram.png')}}" alt="instagram"> ¡Síguenos!</a> <br>
            <img src="{{ url_for('static', filename='img/iconos/correo-electronico.png')}}" alt="correo"> cuevashalima@gmail.com <br>
        </div>
    </footer>
    <!--
    La siguiente ruta "url_For" función que utiliza Flask para generar una URL automática
    Evitamos errores de rutas relativas 
    -->
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>