{% extends "base.html" %}

{% block title %}Cancelacion-reserva{% endblock %}

{% block content %}

<div class="ventana-confi_cancel">
        <p>Ha habido un error al procesar tu reserva.</p>
        <p>Es posible que la operación de pago no se haya completado correctamente.</p>
        <p>Por favor, vuelve a intentarlo desde el apartado de reservas.</p>
        <p>Si el problema persiste, no dudes en contactar con nosotros.</p>
        <p>Lamentamos las molestias y agradecemos tu comprensión.</p>
</div>


{% endblock %}