<!--Plantilla formulario-reserva-->
{% extends 'base.html' %}

{% block title %}Formulario reserva{% endblock %}

{% block content %}
<div>
    <form action="informacion-reserva" method="GET">

        <button type="submit">Modificar</button>
    </form>
</div>
<div class="resultados">
    <h3>Viviendas disponibles</h3>
    <div class="viviendas">
        {% if viviendas %}
            <div class="vivienda">
                <h4>{{ viviendas[0].nombre }}</h4>
                <p>{{ viviendas[0].descripcion }}</p>
                <p>Precio: {{ viviendas[0].precio * cantidad_noches }}€</p>
                <!--Utilizamos el método GET para enviar la info al formulario de reserva la vivienda seleccionada-->
                <form action="seleccionar-reserva" method="GET">
                    <!--Recogemos la id de la vivienda -->
                    <input type="hidden" name="nombre_vivienda" value="{{ viviendas[0].nombre }}">
                    <input type="hidden" name="fecha_entrada" value="{{ fecha_entrada }}">
                    <input type="hidden" name="fecha_salida" value="{{ fecha_salida }}">
                    <button type="submit">Seleccionar</button>
                </form>
            </div>
            <div class="vivienda2">
                <h4>{{ viviendas[1].nombre }}</h4>
                <p>{{ viviendas[1].descripcion }}</p>
                <p>Precio: {{ viviendas[1].precio * cantidad_noches}}€</p>
                <button type="button">Seleccionar</button>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}