<!--Plantilla formulario-reserva-->
{% extends 'base.html' %}

{% block title %}Formulario reserva{% endblock %}

{% block content %}
<div>
    <h3>Datos de la reserva</h3>
    <form action="informacion-reserva" method="GET">
        <label for="fecha_entrada" >Fecha entrada</label>
        <input type="text" value="{{fecha_entrada}}"><br>
        <label for="fecha_salida" >Fecha salida</label>
        <input type="text" value="{{fecha_salida}}"><br>
        <label for="numero_adultos" >Adultos</label>
        <input type="text" value="{{numero_adultos}}"><br>
        <label for="numero_ninos" >Niños</label>
        <input type="text" value="{{numero_ninos}}"><br>
        <button type="submit">Modificar</button>
    </form>
</div>
<div class="resultados">
    <h3>Viviendas disponibles</h3>
    <div class="viviendas">
        {% if viviendas %}
            <div class="vivienda">
                <h4>{{ viviendas[0].nombre }}</h4>
                <p>{{ viviendas[0].descripcion }}</p>
                <p>Precio: {{ viviendas[0].precio * cantidad_noches }}€</p>
                <!--Utilizamos el método GET para enviar la info al formulario de reserva la vivienda seleccionada-->
                <form action="seleccionar-reserva" method="GET">
                    <!--Recogemos la id de la vivienda -->
                    <input type="hidden" name="nombre_vivienda" value="{{ viviendas[0].nombre }}">
                    <input type="hidden" name="fecha_entrada" value="{{ fecha_entrada }}">
                    <input type="hidden" name="fecha_salida" value="{{ fecha_salida }}">
                    <button type="submit">Seleccionar</button>
                </form>
            </div>
            <div class="vivienda2">
                <h4>{{ viviendas[1].nombre }}</h4>
                <p>{{ viviendas[1].descripcion }}</p>
                <p>Precio: {{ viviendas[1].precio * cantidad_noches}}€</p>
                <button type="button">Seleccionar</button>
            </div>
        {% endif %}
    </div>
</div>
<div class="form-reserva">
    <h3>Formulario de reserva</h3>
    <form action="form_reserva" method="POST">
        <label for="nombre_persona">Nombre</label>
        <input type="text" name="nombre_persona" id="nombre_persona"><br>
        <label for="apellidos_persona">Apellidos</label>
        <input type="text" name="apellidos_persona" id="apellidos_persona"><br>
        <label for="telefono">Telefono</label>
        <input type="text" name="telefono" id="telefono"><br>
        <label for="direccion">Direccion</label>
        <input type="text" name="direccion" id="direccion"><br>
        <label for="provincia">Provincia</label>
        <input type="text" name="provincia" id="provincia"><br>
        <label for="codigo-postal">Codigo postal</label>
        <input type="text" name="codigo_postal" id="codigo_postal"><br>
        <button type="submit">Reservar</button>
    </form>
</div>
{% endblock %}