<!--Plantilla gastronomia-->
{% extends "base.html" %}

{% block title %}Nuestra gastronomía{% endblock %}

{% block content %}
<div class="gastronomia">
    <h3>Nuestra gastronomía</h3>
    <div class="comida">
        <div class="texto">
            <h4>Gastronomía local: tradición y sabor en cada rincón</h4>
            <p>
                En Bácor y sus alrededores, la gastronomía forma parte de la esencia del lugar. Aquí se cocinan los
                sabores de siempre, con productos artesanos que conservan la autenticidad de lo hecho a mano y a fuego
                lento.  Pan recién hecho, elaborado con buena harina y mucha dedicación en hornos tradicionales;
                embutidos caseros, curados con mimo en la carnicería del pueblo; y platos típicos que aún se preparan en
                las casas como antaño: migas, gurupina, gurullos o potajes de temporada. <br><br>Además, puedes visitar algunos
                restaurantes de la zona donde te recibirán con una sonrisa, platos abundantes y todo el sabor de la
                cocina local. Son sitios sencillos, auténticos y con ese trato cercano que hace que la comida sepa aún
                mejor.<br><br>

                Y para acompañar, nada como un buen vino de la tierra. En la zona encontrarás caldos con carácter,
                elaborados en pequeñas bodegas familiares que conservan la esencia del paisaje y el mimo por lo
                artesanal.<br><br>

                Si te gusta comer bien y descubrir la cultura a través del paladar, aquí te espera una experiencia
                auténtica. Desde los desayunos con pan candeal y aceite del terreno, hasta las comidas con aroma a
                tradición, cada bocado te conecta con la historia de este rincón del Altiplano granadino.<br><br><br>

                **Pregúntanos y estaremos encantados de recomendarte dónde probar lo mejor de nuestra tierra.
            </p>
        </div>
        <div>
            <img src="{{url_for('static', filename='img/fotos/actividades/gastronomia/tapa.png')}}" alt="plato">
        </div>
    </div>
</div>
{% endblock %}