<!--Plantilla kayak-->
{% extends "base.html" %}

{% block title %}Experiencia en Kayak{% endblock %}

{% block content %}
<div class="kayak">
    <h3>Kayak en el Embalse del Negratín</h3>
    <p>Ubicación: Zona recreativa del embalse (a 10 min en coche)</p>
    <p>Ideal para: Familias, parejas, grupos</p>
    <p>Alquiler: Disponibles en temporada (consultar disponibilidad)</p>
    <p>
        Explora el embalse del Negratín en kayak o paddle surf. Navegar por sus aguas azul turquesa entre barrancos
        y acantilados es una experiencia inolvidable. También hay zonas de baño, playa naturista y área de picnic.
    </p>
</div>
{% endblock %}