<!--Plantilla mensaje correo-->
<style>
    .contenido {
        padding: 15px;
    }

    .contenido h4 {
        font-size: larger;
        color: #057075;
    }

    .pie {
        font-size: 12px;
        color: #777;
        padding: 10px;
    }
</style>

<img src="{{url_for('static', filename='img/logos/logoBoceto6msg.jpeg')}}" alt="logo">

<div class="contenido">
    <h4>{{nombre}}, ¡Su reserva ha sido confirmado!</h4>
    <p>Gracias por reservar con nosotros. Estos son los datos de tu reserva:</p>
    <p>
        <u>Datos del titular</u> <br>
        Nombre:{{nombre}} <br>
        Apellidos: {{apellidos}} <br>
        Telefono: {{telefono}} <br>
        Email: {{correo}} <br>
        Cueva: {{vivienda}} <br>
        Fecha entrada: {{entrada}} <br>
        Fecha salida: {{salida}} <br>
        Adultos: {{adultos}} <br>
        Niños: {{niños}} <br>
        Precio reserva: {{precio}} <br>
    </p>
    <p>Saludos cordiales</p>
</div>

<div class="pie">
    Cuevas Halima · Granada · cuevashalima@gmail.com<br>
    Síguenos en <a href="https://www.instagram.com/cuevas.halima/">Instagram</a>
</div>