<!--Plantilla mensaje correo personal-->
<style>
    html {
        margin-right: 70%;
    }

    img {
        width: 550px;
    }

    hr {
        height: 2px;
        background-color: #057075;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .contenido {
        max-width: 600px;
        margin: 0 auto;
        padding: 15px;
    }


    .contenido h4 {
        font-size: larger;
        color: #057075;
    }

    .tabla-estancia {
        border: 1px solid #057075;
    }

    .tabla-estancia .cabecera {
        background-color: #e9f8f1;
        border: 1px solid #057075;
        text-align: center;
    }

    .tabla-estancia .total {
        background-color: #e9f8f1;
        text-align: center;
    }

    .pie {
        font-size: 12px;
        color: #777;
        padding: 10px;
        text-align: center;
    }
</style>
<div class="contenido">
    <img src="{{url_for('static', filename='img/logos/logoBoceto6msg.jpeg')}}" alt="logo">

    <h4>Nueva reserva</h4>
    <div class="datos-titular">
        <p><strong>Nombre:</strong> {{nombre}}</p>
        <p><strong>Apellidos:</strong> {{apellidos}}</p>
        <p><strong>Teléfono:</strong> {{telefono}}</p>
        <p><strong>Email:</strong> {{correo}}</p>
    </div>

    <hr>

    <div class="tabla-estancia">
        <div class="cabecera"><strong>Estancia</strong></div>
        <div class="datos">
            <p><strong>Cueva:</strong> {{vivienda}}</p>
            <p><strong>Fecha entrada:</strong> {{entrada}}</p>
            <p><strong>Fecha salida:</strong> {{salida}}</p>
            <p><strong>Adultos:</strong> {{adultos}}</p>
            <p><strong>Niños:</strong> {{niños}}</p>
        </div>
        <div class="total"><strong>Precio reserva:</strong> {{precio}}€</div>
    </div>
</div>