<!--Plantilla reservas-->
{% extends "base.html" %}

{% block title %}Reservas{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}

<!--Calendario-->
<div class="calendario">
    <div class="form-calendario">
        <img src="{{url_for ('static', filename='img/fotos/Portada_reserva.jpeg')}}" alt="portada_reserva">
        <form action="buscar-reserva" method="GET">
            <label for="fecha">Fecha Entrada</label><br>
            <input type="text" id="entrada" name="entrada" required><br>
            <label for="fecha2">Fecha Salida</label><br>
            <input type="text" id="salida" name="salida" required><br>
            <label for="adultos">Adultos</label>
            <select name="adultos" id="adultos">
                {% for i in range (0,5) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select><br>
            <label for="niños">Niños</label>
            <select name="ninos" id="ninos">
                {% for i in range (0,3) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select><br>
            <button type="submit" class="buscar-vivienda">Buscar</button>
        </form>
    </div>
</div>
<!--Resultados viviendas-->
<div class="resultados" id="resultados">
    <div class="viviendas">
        {% if viviendas %}
        <h3>Viviendas disponibles</h3>
        {% for vivienda in viviendas %}
        <div class="vivienda">
            <img src="{{url_for('static', filename='img/fotos/' + vivienda.img)}}" alt="{{vivienda.nombre}}" class="img-vivienda">
            <h3>{{ vivienda.nombre }}</h3>
            <p>Descripcion: {{ vivienda.descripcion }}</p>
            <p><img src="{{url_for('static', filename='img/iconos/usuarios.png')}}" alt="usuarios"> {{vivienda.capacidad}}</p>
            <p>Precio reserva: {{ vivienda.precio * cantidad_noches }}€</p>
            <p class="precio-noche">{{ vivienda.precio }}€ por noche</p>
            <button type="button" class="seleccionar-vivienda" data-nombre="{{ vivienda.nombre }}"
                data-precio="{{ vivienda.precio * cantidad_noches }}">Seleccionar</button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<!--Datos de la reserva-->
<div class="datos-reserva" id="datos-reserva">
    <h3>Datos de la reserva</h3>
    <form action="informacion-reserva" method="GET">
        <label for="fecha_entrada">Fecha entrada</label>
        <label for="fecha_entrada">:{{entrada_str}}</label><br>
        <label for="fecha_salida">Fecha salida</label>
        <label for="fecha_salida">: {{salida_str}}</label><br>
        <label for="numero_adultos">Adultos</label>
        <label for="numero_adultos">: {{numero_adultos}}</label><br>
        <label for="numero_ninos">Niños</label>
        <label for="numero_ninos">: {{numero_ninos}}</label><br>
        <button type="submit">Modificar</button>
    </form>
</div>
<!--Formulario reserva-->
<div class="form-reserva" id="form-reserva">
    <h3>Formulario de reserva</h3>
    <form action="form_reserva" method="POST">
        <input type="hidden" name="nombre_vivienda" id="nombre_vivienda">
        <input type="hidden" name="precio_vivienda" id="precio_vivienda">
        <input type="hidden" name="fecha_entrada" id="fecha_entrada" value="{{fecha_entrada}}">
        <input type="hidden" name="fecha_salida" id="fecha_salida" value="{{fecha_salida}}">
        <input type="hidden" name="numero_adultos" id="numero_adultos" value="{{numero_adultos}}">
        <input type="hidden" name="numero_ninos" id="numero_ninos" value="{{numero_ninos}}">
        <label for="nombre_persona">Nombre</label>
        <input type="text" name="nombre_persona" id="nombre_persona"><br>
        <label for="apellidos_persona">Apellidos</label>
        <input type="text" name="apellidos_persona" id="apellidos_persona"><br>
        <label for="telefono">Telefono</label>
        <input type="text" name="telefono" id="telefono"><br>
        <label for="direccion">Direccion</label>
        <input type="text" name="direccion" id="direccion"><br>
        <label for="ciudad">Ciudad</label>
        <input type="text" name="ciudad" id="ciudad"><br>
        <label for="provincia">Provincia</label>
        <input type="text" name="provincia" id="provincia"><br>
        <label for="codigo-postal">Codigo postal</label>
        <input type="text" name="codigo_postal" id="codigo_postal"><br>
        <label for="pais">Pais</label>
        <input type="text" name="pais" id="pais"><br>
        <button type="submit">Reservar</button>
    </form>
</div>
<div class="pago">
    <form action="metodo-pago" method="POST">
        <p>Boton para pagar</p>
        <button type="submit">Pago</button>
    </form>
</div>
{% block scripts %}
<!--Calendario Flatpickr con css y js-->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
<script id="fechasJSON">{{fechas_reservadas | tojson | safe }}</script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe("pk_test_51RVutIQ6yxCCrrhAN9oVhwjwBQwOQ5gRZQp4pXVg1yG4nhKLUdrljl6LSQ9WRlBrXm1bq2AxYhAwi9Gie6d7eoKA00RTwJO1Tk");
    return stripe.redirectToCheckout({
        sessionId: data.id
    })
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        // Cargamos fechas desde scrip
        const fechas_json = document.getElementById("fechasJSON").textContent;
        // Y las paseamos a formto JSON para desabilitarltas 
        const fechas_ocupadas = JSON.parse(fechas_json);

        flatpickr("#entrada", {
            locale: "es",
            minDate: "today",
            dateFormat: "Y-m-d",
            altInput: true,
            altFormat: "d-m-Y",
            disable: fechas_ocupadas
        })
        flatpickr("#salida", {
            locale: "es",
            minDate: "today",
            dateFormat: "Y-m-d",
            altInput: true,
            altFormat: "d-m-Y",
            disable: fechas_ocupadas
        })

    })
</script>
<script>
    //Escuchar el clic de todos los botones "Seleccionar"
    document.querySelectorAll(".seleccionar-vivienda",).forEach(button => {
        button.addEventListener("click", function () {
            const nomVivienda = this.dataset.nombre;
            const precioVivienda = this.dataset.precio;

            //Guardar el nombre del objeto selecionado en el formulario reserva
            document.getElementById("nombre_vivienda").value = nomVivienda;
            document.getElementById("precio_vivienda").value = precioVivienda;

            //Ocultar viviendas 
            document.getElementById("resultados").style.display = "none"
            
            //Mostrar datos de la reserva
            document.getElementById("datos-reserva").style.display = "block"
            //Mostar el formulario reserva
            document.getElementById("form-reserva").style.display = "block"
        })
    })
</script>
{% endblock %}
{% endblock %}