<!--Plantilla reservas-->
{% extends "base.html" %}

{% block title %}Reservas{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}

<!--Mi calendario-->
<div class="reserva">
    <div class="calendario">
        <h3>Haz tu reserva</h3>
        <form action="reservar" method="POST">
            <label for="fecha">Fecha Entrada</label><br>
            <input type="text" id="fecha" name="fecha" required><br>
            <label for="fecha2">Fecha Salida</label><br>
            <input type="text" name="fecha2" id="fecha2"><br>
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div class="personas-reserva">
        <div class="adultos">
            <label for="adultos">Adultos</label>
            <select name="adultos" id="adultos">
                {% for i in range (1,11) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="niños">
            <label for="niños">Niños</label>
            <select name="niños" id="niños">
                {% for i in range (1,5) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<!--Calendario Flatpickr con css y js-->
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#fecha", {
            locale: "es",
            dateFormat:"d-m-Y"
        })
        flatpickr("#fecha2", {
            locale: "es",
            dateFormat:"d-m-Y"
        })

    })

</script>
{% endblock %}
{% endblock %}