<!--Plantilla senderismo-->
{% extends "base.html" %}

{% block title %}Experiencia Senderismo{% endblock %}

{% block content %}
<div class="tracamulas">
    <h3>Ruta Vereda de Tracamulas (Monte Pajarillo - Bácor)</h3>
    <p>Distancia: 13,5 km (circular)</p>
    <p>Dificultad: Media</p>
    <p>Duración: 4,5 horas aprox.</p>
    <p>Inicio: Plaza de Bácor</p>
    <p>
        Sendero tradicional recuperado que conectaba Bácor con los pastos del Monte Pajarillo.
        Utilizado históricamente para el tránsito de ganado y la recolección de esparto, hoy ofrece
        una ruta paisajística entre badlands, pinos y miradores del Geoparque. Ideal para descubrir
        biodiversidad, geología y patrimonio rural.
    </p>
</div>

<div class="chimeneas">
    <h3>Ruta de las Chimeneas de Hadas (Beas de Guadix)</h3>
    <p>Distancia: 3,5 km (circular)</p>
    <p>Dificultad: Fácil</p>
    <p>Duración: 1,5 horas aprox.</p>
    <p>Inicio: Beas de Guadix (a 30 min en coche)</p>
    <p>
        Un recorrido corto pero espectacular entre formaciones geológicas conocidas como chimeneas de hadas o hoodoos,
        pilares naturales de tierra y roca erosionados durante miles de años. El paisaje parece sacado de otro planeta,
        con vistas impresionantes del entorno de Guadix. Perfecta para hacer con niños o al atardecer.
    </p>
</div>
<div class="pajarillo">
    <h3>Ruta del Pajarillo (Dehesas de Guadix Parque Megalítico de Gorafe)</h3>
    <p>Distancia: 8 km (ida y vuelta)</p>
    <p>Dificultad: Media</p>
    <p>Duración: 2,5 horas aprox.</p>
    <p>Inicio: Desde la plaza del pueblo </p>
    <p>
        Ruta que conecta historia y naturaleza. Pasa junto a antiguos dólmenes del Parque Megalítico de Gorafe y
        atraviesa barrancos rojizos y zonas semidesérticas. Su nombre proviene de una leyenda local sobre un pequeño pájaro
        que guiaba a los pastores entre los cañones. Es una ruta menos transitada, ideal para los que buscan silencio y
        paisajes únicos.
    </p>
</div>
<div class="playa">
    <h3>Ruta Playas del Negratín – Catedrales del Geoparque</h3>
    <p>Distancia: 14 km (circular)</p>
    <p>Dificultad: Media</p>
    <p>Duración: 4 horas aprox.</p>
    <p>Inicio: Área recreativa Mirador del Negratín</p>
    <p>
        Recorrido circular que alterna entre cultivos de olivo y almendro, formaciones erosionadas de badlands junto al embalse
        y tramos de bosque de pinos. Descenso por la Rambla de Doblas, paseos costeros del pantano y regreso por pista de tierra
        hacia el Mirador del Negratín. Paisaje geológico del Geoparque UNESCO muy variado.
    </p>
</div>
{% endblock %}