<div class="tracamulas">
    <h4>Vereda de Tracamulas</h4>
    <p>IMG</p>
    <pre>
    Ruta de senderismo en Bácor, Granada, España, que forma parte del Monte Pajarillo
    un sendero recuperado que antiguamente era utilizado por el ganado para acceder a los
    pastos del Monte Pajarillo y para la recolección de esparto. Una opción popular para
    disfrutar del senderismo en la zona y conocer la biodiversidad e historia del área.
    </pre>
    <button type="button">Seleccionar</button>
</div>
