<!--Pagina Sobre Nosotros-->
{% extends "base.html" %}

{% block title %}Sobre nosotros{% endblock %}

{% block content %}
<div class="nosotros">
    <strong>Nuestra historia: una cueva con alma de mujer</strong><br>
    <p>Esta cueva no es solo piedra y silencio: es memoria viva. Perteneció a mi bisabuela, la comadrona del pueblo, reconocida por su dedicación y buen hacer. Dicen que fue una mujer fuerte, querida por todos, que cuidó este hogar con esmero, manteniéndolo siempre impecable y lleno de vida.</p>
    <p>Con el paso del tiempo, decidimos recuperar esta vivienda tan especial y abrir sus puertas para que otras personas pudieran vivir la experiencia única de habitar una casa cueva: un espacio fresco en verano, cálido en invierno y lleno de encanto natural. Un hogar distinto, conectado con la tierra y con la historia.</p>
    <p>La restauramos con cariño, en familia, respetando su esencia y cada detalle que la hacía única. Fue un proceso lleno de emoción y recuerdos, que nos permitió mantener viva una parte fundamental de nuestras raíces.</p>
    <p>Hoy seguimos con la misma ilusión del primer día, y te damos la bienvenida a esta cueva que lo inició todo: un lugar con historia, con alma, y preparado para que te sientas como en casa desde el primer momento.</p>
</div>
{% endblock %}